<ion-view title="Edit Contact" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="editContact-form7" class="list">
      <label class="item item-input item-stacked-label" id="editContact-input12">
        <span class="input-label">Passport Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="editContact-input14">
        <span class="input-label">Email</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="editContact-select4">
        <span class="input-label">Payment Type</span>
        <select>
          <option>DBS Bank Acc</option>
          <option>Western Union</option>
          <option>In Person</option>
        </select>
      </label>
      <label class="item item-input item-stacked-label" id="editContact-input16">
        <span class="input-label">Account Number</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="editContact-textarea5">
        <span class="input-label">Note / Message</span><textarea placeholder=""></textarea></label>
    </form>
  </ion-content>
</ion-view>