<ion-view title="History" hide-back-button="true" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-body" id="history-list-item-container11">
      <ion-list id="history-list15">
        <ion-item class="item-avatar positive" id="history-list-item38">
        <img src="{{contact.Picture}}">
          <h2positive>{{name}}
            <p>Date: 2016.11.20
              <br>{{currency}}: ${{amount}}<br>Commission : ${{commission}}<br>Expire Day : {{expire_day}}</p>
          </h2positive>
        </ion-item>
      </ion-list>
      <button id="history-button6" class="button button-positive  button-block">Pending...</button>
    </div>
  </ion-content>
</ion-view>
