<ion-view title="In Progress" hide-back-button="true" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="inProgress-list19">
      <ion-item class="item-avatar item-icon-right" id="inProgress-list-item45" ui-sref="dBSBer.paymentDetail2">
        <img src="img/WXqzDYcsQLWoYiRF5FLo_2016-11-191.31.52.png">
        <h2>Fong Xuan
          <hr>
        </h2>
        <p>Expire in {{expire_day}} Days</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
