<ion-view title="Login" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="login-form11" class="list">
      <ion-list id="login-list22">
        <label class="item item-input" id="login-input23">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input24">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="dBSBer.newPayment" id="login-button11" class="button button-stable  button-block">Log in</a>
      <a ui-sref="dBSBer.newPayment" id="login-button14" class="button button-assertive  button-block">Sign in with Google</a>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button12" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
  </ion-content>
</ion-view>