<ion-view title="My Contact" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-personadd"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="list card" id="myContact-card21">
      <ion-item class="item-avatar item-icon-right" id="myContact-list-item12" ui-sref="dBSBer.editContact">
      <img src="img/TInAxhrQh6Tt7BYTIquQ_2016-11-191.31.29.png">
        <h2>Isaac Chan</h2>
        <p>Singapore</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="myContact-list-item13" ui-sref="dBSBer.editContact">
      <img src="img/mic73kYRGmZ8uiiAFrfw_2016-11-191.31.16.png">
        <h2>Jeremy Yen</h2>
        <p>United States</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="myContact-list-item14" ui-sref="dBSBer.editContact">
      <img src="img/O1nvMW1RaikI01gv6AcQ_2016-11-191.31.41.png">
        <h2>Richard Lin</h2>
        <p>Taiwan</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>