<ion-view title="Payment" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="payment-list9">

      <label class="item item-select" id="payment-select5">
        <span class="input-label">Payment Method</span>
        <select ng-change="change_type($event)" id="select" ng-model="type">
          <option value="1">DBS Account</option>
          <option value="2">Direct Bitcoin</option>
        </select>
      </label>

      <div id="rate">
        <ion-item class="item-divider" id="payment-list-item-divider5"> Exchange Rate</ion-item>
        <ion-item class="item-icon-left" id="payment-list-item28">
          <i class="icon ion-cash"></i>Your are paying <span id="rate-amount"></span> <span id="rate-curreny"></span> </ion-item>
        <ion-item class="item-icon-left" id="payment-list-item29">
          <i class="icon ion-arrow-right-c"></i>With <span id="rate-exchange"></span> <span id="rate-base"></span> </ion-item>
      </div>

      <div id="pay-dbs-account">
        <ion-item class="item-divider" id="payment-list-item-divider13"> Pay with DBS Account</ion-item>
        <ion-item id="payment-list-item51">Debit from
          <span class="item-note">60200012345</span>
        </ion-item>
        <ion-item id="payment-list-item53">Amount Due
          <span class="item-note">{{amount}} {{country}}</span>
        </ion-item>
        <label class="item item-input item-stacked-label" id="payment-input18">
          <span class="input-label">SMS OTP (Resend)</span>
          <input type="text" placeholder="">
        </label>
      </div>

      <div id="pay-btc">
        <ion-item class="item-divider" id="payment-list-item-divider6"> Pay BTC to Smart Contract</ion-item>
        <ion-item class="item-icon-left" id="payment-list-item30">
          <i class="icon ion-social-bitcoin-outline"></i><span id="btc-address"></span></ion-item>
        </ion-item>
        <ion-item id="payment-list-item53">Amount Due
          <span class="item-note">{{amount}} {{country}}</span>
        </ion-item>
        <ion-item class="item-icon-left" id="payment-list-item34" ng-click="changeLoading()">
          <i class="icon" id="loading-icon"><ion-spinner icon="ripple"></ion-spinner></i><span id="loading-text">Wating for payment...</span></ion-item>
      </div>
    </ion-list>
    <a ui-sref="dBSBer.history" id="payment-button5" class="button button-assertive  button-block">Continue</a>
  </ion-content>
</ion-view>
