<ion-view title="Payment" id="page9">
  <ion-content padding="true" class="has-header">
    <ion-list id="payment-list9">
      <label class="item item-select" id="payment-select5">
        <span class="input-label">Payment Method</span>
        <select>
          <option>DBS Account</option>
          <option>Direct Bitcoin</option>
        </select>
      </label>
      <ion-item class="item-divider" id="payment-list-item-divider5"> Exchange Rate</ion-item>
      <ion-item class="item-icon-left" id="payment-list-item28">
        <i class="icon ion-cash"></i>Your are paying 100 USD</ion-item>
      <ion-item class="item-icon-left" id="payment-list-item29">
        <i class="icon ion-arrow-right-c"></i>With 0.5 BTC</ion-item>
      <ion-item class="item-divider" id="payment-list-item-divider13"> Pay with DBS Account</ion-item>
      <ion-item id="payment-list-item51">Debit from
        <span class="item-note">60200012345</span>
      </ion-item>
      <ion-item id="payment-list-item53">Amount Due
        <span class="item-note">100 USD</span>
      </ion-item>
      <label class="item item-input item-stacked-label" id="payment-input18">
        <span class="input-label">SMS OTP (Resend)</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="payment-list-item-divider6"> Pay BTC to Smart Contract</ion-item>
      <ion-item class="item-icon-left" id="payment-list-item30">
        <i class="icon ion-social-bitcoin-outline"></i>16VpFrjeAc2a6hAMgDUv9TrVqunKChhe14</ion-item>
      <ion-item id="payment-list-item54">Amount Due
        <span class="item-note">0.5 BTC</span>
      </ion-item>
      <ion-item class="item-icon-left" id="payment-list-item34">
        <i class="icon ion-alert"></i>Wating for payment...</ion-item>
    </ion-list>
    <a ui-sref="dBSBer.history" id="payment-button5" class="button button-assertive  button-block">Continue</a>
  </ion-content>
</ion-view>