<ion-view title="Payment Detail " id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="paymentDetail2-list20">
      <ion-item class="item-divider" id="paymentDetail2-list-item-divider10"> From</ion-item>
      <ion-item class="item-avatar" id="paymentDetail2-list-item46">
        <img src="img/jDWseMDSXuHdhWmCI8NW_2016-11-191.31.52.png">
        <h2>Fong Xuan
          <hr>
        </h2>
        <p>Payment: {{data.amount}} {{data.country}}
          <br>Willing to Pay: {{data.commission}} {{data.country}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="paymentDetail2-list21">
      <ion-item class="item-divider" id="paymentDetail2-list-item-divider11"> To</ion-item>
      <ion-item class="item-avatar" id="paymentDetail2-list-item47">
        <img src="{{contact.Picture}}">
        <h2>{{contact.PassportName}}
          <hr>
        </h2>
        <p>Country: {{contact.Country}}
          <br>Type: {{contact.PaymentType}}
          <br <="" p="">
        </p>
      </ion-item>
      <ion-item id="paymentDetail2-list-item48">Email
        <span class="item-note">{{contact.Email}}</span>
      </ion-item>
      <ion-item id="paymentDetail2-list-item49">Account
        <span class="item-note">{{contact.AccountNumber}}</span>
      </ion-item>
      <label class="item item-input" id="paymentDetail2-textarea6">
        <span class="input-label">Note</span><textarea placeholder=""></textarea></label>
      <ion-item class="item-divider" id="paymentDetail2-list-item-divider12"> Expire in {{expire_day}} Days</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a ui-sref="dBSBer.inProgress" id="paymentDetail2-button8" class="button button-assertive  button-block">DISPUTE</a>
    <a ui-sref="dBSBer.inProgress" id="paymentDetail2-button9" class="button button-light  button-block">Cancel</a>
  </ion-content>
</ion-view>