<ion-view title="Payment Detail" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="paymentDetail-list17">
      <ion-item class="item-divider" id="paymentDetail-list-item-divider7"> From</ion-item>
      <ion-item class="item-avatar" id="paymentDetail-list-item42">
        <img src="img/jDWseMDSXuHdhWmCI8NW_2016-11-191.31.52.png">
        <h2>Fong Xuan
          <hr>
        </h2>
        <p>Payment: 100 USD
          <br>Willing to Pay: 10 USD</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="paymentDetail-list18">
      <ion-item class="item-divider" id="paymentDetail-list-item-divider8"> To</ion-item>
      <ion-item class="item-avatar" id="paymentDetail-list-item44">
        <img src="img/APFI9BgCS2qiaWkK2EJV_2016-11-191.31.29.png">
        <h2>Issac Chan
          <hr>
        </h2>
        <p>Country: Singapore
          <br>Type: DBS Bank Transfer</p>
      </ion-item>
      <ion-item class="item-divider" id="paymentDetail-list-item-divider9"> Expire in 6 Days</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a ui-sref="dBSBer.inProgress" id="paymentDetail-button7" class="button button-assertive  button-block">Accept</a>
  </ion-content>
</ion-view>