<ion-view title="Payment In Your Country" id="page11">
  <ion-content padding="true" class="has-header">
    <ion-list id="paymentInYourCountry-list16">
      <ion-item class="item-avatar item-icon-right" id="paymentInYourCountry-list-item41" ui-sref="dBSBer.paymentDetail">
        <img src="img/47PqNMNRS2eT9bYqy7MA_2016-11-191.31.52.png">
        <h2>Font Xuan
          <hr>
        </h2>
        <p>Payment: {{data.amount}} {{data.country}}
          <br>Willing to Pay: {{data.commission}} {{data.country}}
          <br>1 minutes ago</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>