<ion-view title="Payment Detail" id="page12">
  <ion-content padding="true" class="has-header">
    <ion-list id="paymentDetail-list17">
      <ion-item class="item-divider" id="paymentDetail-list-item-divider7"> From</ion-item>
      <ion-item class="item-avatar" id="paymentDetail-list-item42">
        <img src="img/jDWseMDSXuHdhWmCI8NW_2016-11-191.31.52.png">
        <h2>Fong Xuan
          <hr>
        </h2>
        <p>Payment: {{data.amount}} {{data.country}}
          <br>Willing to Pay: {{data.commission}} {{data.country}}</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <ion-list id="paymentDetail-list18">
      <ion-item class="item-divider" id="paymentDetail-list-item-divider8"> To</ion-item>
      <ion-item class="item-avatar" id="paymentDetail-list-item44">
        <img src="{{contact.Picture}}">
        <h2>{{contact.PassportName}}
          <hr>
        </h2>
        <p>Country: {{contact.Country}}
          <br>Type: {{contact.PaymentType}}</p>
      </ion-item>
      <ion-item class="item-divider" id="paymentDetail-list-item-divider9"> Expire in {{expire_day}} Days</ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <a ui-sref="dBSBer.inProgress" id="paymentDetail-button7" class="button button-assertive  button-block">Accept</a>
  </ion-content>
</ion-view>