<ion-view title="Select Recipient" id="page7">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="selectRecipient-card22">
        <ion-item class="item-avatar item-icon-right" ng-click="next($event)" data-name="Richard Lin" id="selectRecipient-list-item17" ui-sref="dBSBer.smartContract" ng-repeat="contact in contacts">
          <img src={{contact.Picture}}>
          <h2>{{contact.PassportName}}</h2>
          <p>{{contact.Country}}</p>
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
