<ion-view title="Signup" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="signup-form12" class="list">
      <ion-list id="signup-list23">
        <label class="item item-input" id="signup-input25">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input26">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input27">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <a ui-sref="dBSBer.newPayment" id="signup-button13" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>
