<ion-view title="Smart Contract" id="page8">
  <ion-content padding="true" class="has-header">
    <ion-list id="smartContract-list6">
      <ion-item class="item-divider" id="smartContract-list-item-divider2"> Smart Contract</ion-item>
      <div class="item item-body" id="smartContract-list-item-container8">
        <div id="smartContract-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Smart Contact insures your safety during the payment. If your driver doesn't delivery your money on time. You won't lose any money.</p>
        </div>
      </div>
      <label class="item item-input item-stacked-label" id="smartContract-input10">
        <span class="input-label">Payment Expire Day</span>
        <input type="text" placeholder="3 ~ 7 days">
      </label>
    </ion-list>
    <a ui-sref="dBSBer.payment" id="smartContract-button4" class="button button-assertive  button-block">Continue to BTC deposit</a>
  </ion-content>
</ion-view>